{% load static %}
{% load road_generator %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css'%}">
    </head>    
        <body>
            <div class="main-block">
                <div class="road-main">
                    <div class="top-dir">
                        
                    </div>
                    <div class="left-dir">

                    </div>
                    <div class="right-dir">

                    </div>
                </div>
            </div>
        </body>

</html>